@charset "utf-8";
/* CSS Document */

body {
	font-size: 18px;
	line-height: 36px;
	font-weight: 400;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	position: relative;
}

.navbar {
	background-color: #1D1D1B;
}

.jumbotron {
	margin-bottom: 0;
	border-radius: 0;
	background-image: linear-gradient(90deg, ##2193b0, ##6dd5ed);
}

.nav-link {
	color: #fff;
	letter-spacing: 1px;
}

/* zoom image on hover */
.app-img {
	/*display: block;*/
    height: 20%;  
    width: 20%;
    transition: transform .2s;
}

.app-img:hover{
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* safari 3-8 */
	transform: scale(1.1);
}

.lscp-btn-green {
	background-color: #009D40;
	color: #fff;
}

.lscp-btn-blue {
	background-color: #026BAF;
	color: #fff;
}

.lscp-jumbotron-image {
	/*background-color: #025286;*/
	background-image: url(images/cloudblurbg.jpg);
	background-size: auto;
	background-size: 100% 100%;
    padding-bottom: 0px;
}

.lscp-jumbotron-text {
	background-color: #E5EFF7;
	box-shadow: 0 -5px 5px rgba(0, 0, 0, .2);
	padding-bottom: 0px;
	padding-top: 0px;
}

.lscp-jumbotron-game {
	background-color: #fff;
	box-shadow: 0 -5px 5px rgba(0, 0, 0, .2);
}

.lscp-question-marks {
	margin: 0;
	padding: 0;
	margin-left:45%;
	margin-right:45%;
/*	top: -10rem; */
	position: absolute;
	vertical-align: baseline;

}

.lscp-jumbotron-testimonials {
	  background-image:
    linear-gradient(
      to top right, 
      #000046, #1CB5E0
    );
	}

/* paragraph text box */
.textbox{
	background-color: white;
	float: left;
	padding-top: 1em;
	padding-bottom: 1em;
}

.imageboxbig{
	background-color: white;
	float: left;
	display: block;
	position: relative;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px; 
   /* width: 25%; */
}

.imageboxsmall{
	background-color: white;
	float: right;
	display: block;
	position: relative;
    margin-left: auto;
    margin-right: auto;
    min-height: 252px; 
   /* width: 25%; */
}

.textbox-strong{
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	line-height: 1.5;
	padding-top: 3%;
	padding-bottom: 1%;
}

/* download header section */
.download{
    background: -webkit-gradient(linear,left top,left bottom,from(#fdcc52),to(#fdc539));
    width: 100%;
    padding: 10%;

}

/* subscribe header section */
.subscribe{
  /*  background-color: #064780; */
    background-image: 
        linear-gradient(
      to top right, 
      #000046, #1CB5E0
    );
    width: 100%;   
	padding-bottom: 2em;
}

/* intro header section */
.intro{
    background: -webkit-gradient(linear,left top,left bottom,from(#fdcc52),to(#fdc539));
    width: 100%;
    padding: 10%;
}


h5{
	color:white;
} 

nav {
	box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}

.lscp-jumbotron-testimonials p {
	padding: 0;
    color: #1e6492;
	font-style: italic;
	
}

@media (min-width: 992px) { 
	.lscp-jumbotron-testimonials p {
		padding: 0 100px;
	}
}

.active{

}

.blockquote-footer {
	color: #013659;
}

.btn {
	border-radius: 300px;
	padding: 20px 50px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
	font-weight: 700;
	font-family: Lato,Helvetica,Arial,sans-serif;
	border-radius: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	width:50%;
}


.footer {
	background-color: #000046;
	color: #026BAF;
	padding: 10px;
}

.lscp_p_intro {
	font-weight: 600;
	font-size: 2rem;
	text-align: center;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}


/* Responsive font size */
h1 {
	font-weight: 800;
	font-size: 3rem;
	color: #ffffff;
	margin-bottom: 36px;
	font-family:"Arial Black", Gadget, sans-serif;
	/* text-transform: uppercase; */
}

h2{
	font-size: 2.8rem;
}

p {
	margin-bottom: 18px;
}

.form-control {
	border-radius: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;

}

/* nav button hover animation */
li a:hover{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

/* hyperlink hover animation */
a:hover{
	color: #FFD700;
    text-decoration-line: none;
}

a{
	color: #00BFFF;
}
/* scale images for responsiveness */
.responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
}

img{
	vertical-align: middle;
}
/* shine effect animation */
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

/* responsive typography */
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.bg-dark {
    background-color: #003ba2!important;
}

/* image carousel gallery slide show */

.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5%;
    color: #fff;
    text-align: center;
    opacity: .5;
    outline: black;
}

.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5%;
    color: #fff;
    text-align: center;
    opacity: .5;
    outline: black;
}

.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #d0d4db;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.2);    
}

.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 10px;
    background-color: #93f2e8;
}

.carousel-fade {
	.carousel-item {
		display: block;
		position: absolute;
		opacity: 0;
		transition: opacity 1.0s ease-in-out;

		&.active {
			opacity: 1;
		}
	}
}

/* grid testimonials */
.grid-testimonials
{
  overflow: hidden;
  padding-top: 3em;
}
.grid-testimonials li
{
  list-style-type: none;
  padding-bottom: 3em;
}
.grid-testimonials p
{
  line-height: 1.5em;
  margin: 0;
}

.grid-testimonials-citation
{
  color: #ffffff;
  display: block;
  font-size: 1.125em;
  font-weight: 700;
  margin-top: 2em;
  text-align: center;
}

.grid-testimonials li div
{
  border: 10px solid #ebebeb;
  padding: 2em;
  position: relative;
  background-color: white;

}

.grid-testimonials p{
	padding:0px;
}

.grid-testimonials .quote-arrow
{
	background: #fff;
	border-right:10px solid #ebebeb;
	border-bottom:10px solid #ebebeb;
	content: '';
	display: block;
	position: absolute;
	bottom: -28px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}

@media screen and (min-width: 50em) 
{
	.grid-testimonials li
  {
    width: 40%;
    padding-left: 5%;
  }
  	.grid-testimonials li:nth-last-child(1) /* centre the last comment box */
  {
    width: 95%;
  }

  	.grid-testimonials li:nth-last-child(2) /* centre the last comment box */
  {
    width: 95%;
  }
  	.grid-testimonials li:nth-child(1) /* centre the last comment box */
  {

    width: 95%;
  }

  .grid-testimonials li:nth-child(2) /* centre the last comment box */
  {
    width: 40%;
  }

    .grid-testimonials li:nth-child(3) /* centre the last comment box */
  {
    width: 55%;
  }

}

